@font-face {
    font-family: 'DiabloHeavy';
    src: url('../fonts/diablo_h.ttf');
    font-style: normal;
    font-weight: normal;
}

// Creamos una clase que tenga de tipografía la fuente de Diablo
.font-diablo
  font-family "DiabloHeavy", sans-serif